@use '../../styling/breakpoints' as bp;

// This are the roomlist styles for landscape layout
// The mobile room display styles are in Timeslot.scss

.rooms_list {
  display: grid;
  grid-template-columns: 90px repeat(auto-fit, minmax(0, 1fr));
  gap: 1rem;
  padding-left: 0;

  @media (max-width: bp.$tablet) {
    display: none;
  }

  &__item {
    padding: 0.75rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: var(--textShadow);
    color: var(--white);
    background-color: var(--primary);
    border: var(--borderWidth) solid var(--borderStepColor);
    outline: var(--outlineWidth) solid var(--primary);
    border-bottom-right-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
    border-top: none;

    @media (prefers-color-scheme: dark) {
      border: var(--borderWidth) solid var(--borderStepColor);
      border-top: none;
    }
  }

  &__item:first-child {
    border-bottom-left-radius: 0;
    border-left: none;
  }
}
