//colors
$primary: #054733;
$secondary: #006b8f;
$black: #1e1825;
$white: #fbf5f3;
$background: #ebebeb;
$highlight: #dcbba8;

//grid values
$grid-gap: 1rem;

//container values
$borderR: 6px;

$clr-primary: #3cbdf7;
$clr-secondary: #db1428;
$clr-tertiary: #0d043d;
$clr-deco-dark: #0d1b2a;
$clr-deco-medium: #1b263b;
$clr-deco-light: #89a1be;
$clr-grey-light: #eeeeee;
$clr-grey-medium: #868686;
$clr-grey-dark: #353535;
