//colors
$primary: #054733;
$secondary: #006b8f;
$black: #1e1825;
$white: #fbf5f3;
$background: #ebebeb;
$highlight: #dcbba8;

//grid values
$grid-gap: 1rem;

//container values
$borderR: 6px;

$color: red;
