//colors
$primary: #f310a9;
$secondary: #56c2f4;
$tertiary: #faf195;
$black: #1e1825;
$white: #f0f0f0;
$background-light: #ebebeb;
$background-medium: #adadad;
$background-dark: #353535;
$highlight: #88fbfd;

//grid values
$grid-gap: 1rem;

//container values
$borderR: 6px;

//breakpoints
$bp-desktop: 1140px;

//frame border sizes
$border-width: 3px;
$outline-width: 2px;
