:root {
  /* Colors */
  --primary: #f310a9;
  --secondary: #56c2f4;
  --tertiary: #faf195;
  --black: #1a0f26;
  --white: #f0f0f0;
  --background-light: #ebebeb;
  --background-medium: #adadad;
  --background-dark: #353535;
  --highlight: #88fbfd;

  /* Grid values */
  --grid-gap: 1rem;

  /* Container values */
  --borderR: 6px;

  /* Breakpoints */
  --bp-desktop: 1140px;
  --bp-tablet: 1140px;

  /* Frame border sizes */
  --border-width: 3px;
  --outline-width: 2px;
}
