@use '../global_styling/variables' as var;

.timeSlot_grid {
  display: grid;
  gap: var.$grid-gap;
  margin-top: 1rem;

  @media (min-width: var.$bp-desktop) {
    grid-template-columns: 90px repeat(4, 1fr);
    border: none;
    box-shadow: none;
  }
}

.timeslot {
  margin: 0;
  padding-top: var.$grid-gap;
  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;
  background-color: var.$primary;
  color: var.$black;

  @media (min-width: var.$bp-desktop) {
    background-color: var.$tertiary;
    outline: 2px solid var.$tertiary;
    border-top-right-radius: var.$borderR;
    border-bottom-right-radius: var.$borderR;
    text-align: center;
  }
}

.panels {
  &_maingrid {
    display: grid;
    margin-top: 1rem;
    gap: var.$grid-gap 0;

    @media (min-width: var.$bp-desktop) {
      grid-template-columns: 90px 1fr;
      gap: var.$grid-gap;
    }
  }

  &_wrapper {
    display: grid;
    /*  gap: var.$grid-gap 0; */

    //stretch over width of parent grid
    grid-column: 2/-1;
    //create inner grid-rows for the single events (subgrid)
    grid-template-rows: repeat(4, auto);

    @media (min-width: var.$bp-desktop) {
      gap: 0 var.$grid-gap;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.panel {
  &_container {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    border-radius: var.$borderR;

    border: var.$border-width solid var.$white;
    outline: var.$outline-width solid var.$secondary;
    background-color: var.$background-light;

    @media (min-width: var.$bp-desktop) {
      margin-top: 0;
    }

    &.global {
      grid-column: 1/-1;
      align-items: center;
      background: linear-gradient(7deg, var.$tertiary 20%, var.$primary);
      border: var.$border-width solid var.$white;
      outline: var.$outline-width solid var.$primary;
    }

    &.empty {
      background: repeating-linear-gradient(
        -45deg,
        var.$background-light,
        var.$background-light 10px,
        var.$white 10px,
        var.$white 20px
      );

      & .panel_roomInfo {
        display: none;
      }

      @media (max-width: var.$bp-desktop) {
        display: none;
      }
    }
  }

  &_title,
  &_speakers__text,
  &_description {
    padding: 0.25rem 0.5rem;
  }

  &_tag {
    margin: 0;
    padding: 0.5rem;
    width: 55%;
    max-width: 175px;
    background: linear-gradient(25deg, var.$highlight, var.$secondary);
    border-bottom-right-radius: calc(var.$borderR * 8);
    border-top-left-radius: var.$borderR;
  }

  &_title {
    margin: var.$grid-gap 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: none;
  }

  &_speakers {
    margin-top: var.$grid-gap;
    border-top: 1px dotted var.$black;
    padding-bottom: 1rem;

    & .title {
      font-weight: 700;
    }

    &__text {
      margin: 0;
    }
  }

  &_roomInfo {
    padding: 0.5rem;
    background-color: var.$background-medium;
    color: var.$black;
    text-align: center;
    font-weight: 700;
    border-bottom-right-radius: var.$borderR;
    border-bottom-left-radius: var.$borderR;
  }
}
