@use '../global_styling/breakpoints' as bp;

.timeSlot_grid {
  display: grid;
  gap: var(--gridGap);
  margin-top: 1rem;

  @media (min-width: bp.$tablet) {
    grid-template-columns: 90px repeat(4, 1fr);
    border: none;
    box-shadow: none;
  }
}

.timeslot {
  margin: 0;
  padding: var(--gridGap) 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  background-color: var(--secondary);
  color: var(--textColorDark);
  border: var(--borderWidth) solid var(--borderStepColor);
  outline: var(--outlineWidth) solid var(--primary);
  border-radius: var(--borderRadius);

  @media (min-width: bp.$tablet) {
    font-size: 1.25rem;
    padding-top: var(--gridGap);
    outline: 2px solid var(--secondary);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: var(--secondary);
  }
}

.panels {
  &_maingrid {
    display: grid;
    margin-top: 2rem;
    padding: 0.5rem;
    gap: var(--gridGap) 0;

    background-color: var(--background-dark);
    border: 8px solid var(--black);
    border-radius: calc(var(--borderRadius) * 3);

    @media (min-width: bp.$tablet) {
      grid-template-columns: 90px 1fr;
      gap: var(--gridGap);
      margin-top: 1rem;
      padding: 0;
      background-color: var(--black);
      border: none;
    }
  }

  &_wrapper {
    @media (min-width: bp.$tablet) {
      display: grid;

      //stretch over width of parent grid
      grid-column: 2/-1;
      //create inner grid-rows for the single events (subgrid)
      grid-template-rows: repeat(4, auto);

      grid-template-columns: repeat(4, 1fr);
      gap: 0 var(--gridGap);
    }
  }
}

.panel {
  &_container {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    margin-top: var(--gridGap);
    border: var(--borderWidth) solid var(--borderStepColor);
    border-radius: var(--borderRadius);
    outline: var(--outlineWidth) solid var(--secondary);
    background-color: var(--cardBackground);

    @media (min-width: bp.$tablet) {
      margin-top: 0;
    }

    &.global {
      grid-column: 1/-1;
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      background: linear-gradient(7deg, var(--secondary) 20%, var(--primary));
      border: var(--borderWidth) solid var(--black);
      outline: var(--outlineWidth) solid var(--primary);

      & .panel_tag {
        display: none;
      }

      & .event_icon {
        width: 48px;
        height: 48px;
        fill: var(--white);
        stroke: var(--black);
        stroke-width: 16px;
        paint-order: stroke;
      }

      & .panel_title {
        display: inline-block;
        width: fit-content;
        font-size: 2rem;
        color: var(--white);
        text-shadow: var(--textShadow);
      }
    }

    &.empty {
      background: repeating-linear-gradient(
        -45deg,
        var(--background-light),
        var(--background-light) 10px,
        var(--white) 10px,
        var(--white) 20px
      );

      @media (prefers-color-scheme: dark) {
        background: repeating-linear-gradient(
          -45deg,
          #525252,
          #525252 10px,
          var(--background-dark) 10px,
          var(--background-dark) 20px
        );
      }

      @media (max-width: bp.$tablet) {
        display: none;
      }
    }
  }

  &_title,
  &_speakers__text,
  &_description {
    padding: 0.25rem 0.5rem;
  }

  &_tag {
    margin: 0;
    padding: 0.5rem;
    width: 55%;
    max-width: 175px;
    background: linear-gradient(25deg, var(--highlight), var(--secondary));
    border-bottom-right-radius: calc(var(--borderRadius) * 8);
    border-top-left-radius: var(--borderRadius);
    color: var(--textColorDark);
  }

  &_title {
    margin: var(--gridGap) 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: none;
    color: var(--textColorLight);
  }

  &_description {
    color: var(--textColorLight);
  }

  &_speakers {
    margin-top: var(--gridGap);
    border-top: 2px dotted var(--black);
    padding-bottom: 1rem;
    color: var(--textColorLight);

    & .title {
      font-weight: 700;
    }

    &__text {
      margin: 0;
    }
  }

  &_roomInfo {
    padding: 0.5rem;
    background-color: var(--background-medium);
    color: var(--textColorDark);
    text-align: center;
    font-weight: 700;
    border-bottom-right-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);

    @media (min-width: bp.$tablet) {
      display: none;
    }
  }
}
