@use '../../styling/breakpoints' as bp;

.timeSlot_grid {
  display: grid;
  gap: var(--gridGap);
  margin-top: 1rem;

  @media (min-width: bp.$tablet) {
    grid-template-columns: 90px repeat(4, 1fr);
    border: none;
    box-shadow: none;
  }
}

.timeslot {
  margin: 0;
  padding: calc(var(--gridGap) / 2) 0;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  background-color: var(--secondary);
  color: var(--black);
  border: var(--borderWidth) solid var(--borderStepColor);
  outline: var(--outlineWidth) solid var(--tertiary);
  border-radius: var(--borderRadius);

  @media (min-width: bp.$tablet) {
    padding-top: var(--gridGap);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}

.panels {
  &_maingrid {
    display: grid;
    margin-top: 2rem;
    padding: 0.5rem 0.5rem;
    background-color: var(--panel-bg);
    border: 2px solid var(--tertiary);
    border-radius: var(--borderRadius);

    @media (min-width: bp.$tablet) {
      grid-template-columns: 90px 1fr;
      gap: var(--gridGap);
      margin-top: 1rem;
      padding: 0;
      background-color: transparent;
      border: none;
    }

    &:has(.global) {
      .timeslot {
        @media (min-width: bp.$tablet) {
          border-color: var(--primary);
          border-left: none;
        }
      }
    }
  }

  &_wrapper {
    @media (min-width: bp.$tablet) {
      display: grid;

      //stretch over width of parent grid
      grid-column: 2/-1;
      //create inner grid-rows for the single events (subgrid)
      grid-template-rows: repeat(4, auto);

      grid-template-columns: repeat(4, 1fr);
      gap: 0 var(--gridGap);
    }
  }
}

.panel {
  &_container {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    margin-top: var(--gridGap);
    border: var(--borderWidth) solid var(--borderStepColor);
    border-radius: var(--borderRadius);
    outline: var(--outlineWidth) solid var(--outlineColor);
    background-color: var(--cardBackground);

    &:hover {
      border-color: var(--primary);
    }

    &:focus {
      border-color: var(--focusColor);
    }

    @media (min-width: bp.$tablet) {
      margin-top: 0;
    }

    &.global {
      grid-column: 1/-1;
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      outline: var(--outlineWidth) solid var(--tertiary);

      @media (min-width: bp.$tablet) {
        border: var(--borderWidth) solid var(--primary);
        background: linear-gradient(
          7deg,
          var(--secondary) 20%,
          var(--tertiary) 80%,
          var(--tertiary)
        );
      }

      & .panel_tag {
        display: none;
      }

      & .event_icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--textColorLight);

        @media (min-width: bp.$tablet) {
          fill: var(--black);
        }
      }

      & .panel_title {
        display: inline-block;
        width: fit-content;
        font-size: 1.25rem;

        @media (min-width: bp.$tablet) {
          color: var(--black);
        }
      }
    }

    &.empty {
      display: none;

      @media (min-width: bp.$tablet) {
        display: block;
        background: var(--emptyGradient);
      }

      &:hover,
      &:focus {
        border-color: var(--borderStepColor);
      }
    }
  }

  &_title,
  &_speakers__text,
  &_description {
    padding: 0.25rem 0.5rem;
  }

  &_tag {
    margin: 0;
    padding: 0.25rem;
    width: 50%;
    max-width: 11rem;
    color: var(--textColorLight);
    border: 1px solid var(--tertiary);
    border-top: none;
    border-left: none;
    border-bottom-right-radius: calc(var(--borderRadius) * 2);
    border-top-left-radius: var(--borderRadius);
  }

  &_title {
    margin: var(--gridGap) 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: none;
    color: var(--textColorLight);
  }

  &_description {
    color: var(--textColorLight);
  }

  &_speakers {
    margin-top: var(--gridGap);
    border-top: var(--outlineWidth) dotted var(--black);
    padding-bottom: 1rem;
    color: var(--textColorLight);

    & .title {
      font-weight: 700;
    }

    &__text {
      margin: 0;
    }
  }

  &_roomInfo {
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem;
    background-color: var(--roomInfo-bg);
    color: var(--textColorLight);
    font-weight: 700;
    border-bottom-right-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);

    @media (min-width: bp.$tablet) {
      display: none;
    }

    .door_icon {
      width: 24px;
      fill: var(--textColorLight);
    }

    &__name {
      line-height: 2;
    }
  }
}
