:root {
  /* Colors */
  --primary: #f310a9;
  --secondary: #56c2f4;
  --black: #1a0f26;
  --white: #ede6d9;
  --background-light: #ebebeb;
  --background-medium: #adadad;
  --background-dark: #353535;
  --highlight: #88fbfd;

  --textColorDark: var(--white);
  --textColorLight: var(--black);
  --borderStepColor: var(--pageBackground);

  --cardBackground: var(--white);
  --pageBackground: var(--background-medium);

  /* Grid spacing */
  --gridGap: 1rem;

  /* Breakpoints */
  --bp-desktop: 1140px;
  --bp-tablet: 1140px;

  /* Border values */
  --borderRadius: 6px;
  --borderWidth: 3px;
  --outlineWidth: 2px;

  /* Text Shadow */
  --textShadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black),
    -1px 1px 0 var(--black), 1px 1px 0 var(--black);

  /* 
  **
  **
  ** GRADIENTS */

  /* --- HEADLINE --- */
  /* Light Mode */
  --headlineGradient-light: linear-gradient(
    90deg in oklch,
    var(--black),
    var(--black),
    var(--primary),
    var(--primary)
  );
  /* Dark Mode */
  --headlineGradient-dark: linear-gradient(
    90deg in oklch,
    var(--highlight),
    var(--highlight),
    var(--primary),
    var(--primary)
  );
  /* Default */
  --activeGradient: var(--headlineGradient-light);

  /* --- EMPTY PANEL --- */
  /* Light Mode */
  --emptyGradient-light: repeating-linear-gradient(
    -45deg,
    #dddddd,
    #dddddd 10px,
    #cdcdcd 10px,
    #cdcdcd 20px
  );
  /* Dark Mode */
  --emptyGradient-dark: repeating-linear-gradient(
    -45deg,
    #525252,
    #525252 10px,
    var(--background-dark) 10px,
    var(--background-dark) 20px
  );
  /* Default */
  --emptyGradient: var(--emptyGradient-light);

  /* Theme Transition */
  --transition-speed: 0.4s;
  --transition-ease: ease-in-out;
}

/* Transitioning Elements */
body,
.rooms_list__item,
.timeslot,
.panel_container,
.empty,
.panel_title,
.panel_speakers__text,
.panel_description {
  transition: background-color var(--transition-speed) var(--transition-ease),
    color var(--transition-speed) var(--transition-ease),
    border var(--transition-speed) var(--transition-ease);
}

[data-theme='dark'] {
  --cardBackground: var(--background-dark);
  --borderStepColor: var(--background-dark);
  --textColorDark: var(--black);
  --textColorLight: var(--white);
  --pageBackground: var(--black);
  --activeGradient: var(--headlineGradient-dark);
  --emptyGradient: var(--emptyGradient-dark);
}
