:root {
  /* 
  **
  **
  ** COLORS */

  --primary: #88075d;
  --primary-highlight: #f310a9;
  --secondary: #56c2f4;
  --tertiary: #0fa2e6;
  --black: rgb(20, 15, 26);
  --white: #ebebeb;
  --background-light: #e4e4e4;
  --background-medium: #adadad;
  --background-dark: #252525;
  --focusColor: #18ed00;

  --textColorDark: var(--white);
  --textColorLight: var(--black);
  --borderStepColor: var(--pageBackground);
  --outlineColor: var(--tertiary);

  --pageBackground: #afafaf;
  --panel-bg: var(--white);
  --cardBackground: var(--background-light);
  --roomInfo-bg: var(--background-medium);

  --logo-bg: rgba(0, 0, 0, 0.85);
  --svgStroke: var(--secondary);

  /* 
  **
  **
  ** LAYOUT VALUES */

  /* Grid spacing */
  --gridGap: 1rem;

  /* Border values */
  --borderRadius: 0.25rem; /* 4px */
  --borderWidth: 0.1875rem; /* 3px */
  --outlineWidth: 0.125rem; /* 2px */

  /* Default Text Shadow */
  --textShadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black),
    -1px 1px 0 var(--black), 1px 1px 0 var(--black);
  --textShadowGlobalPanel: -1px -1px 0 var(--secondary),
    1px -1px 0 var(--secondary), -1px 1px 0 var(--secondary),
    1px 1px 0 var(--secondary);

  /* Theme Toggle Button Dimensions */
  --T_buttonWidth: 3.5rem;
  --T_buttonHeight: 1.5rem;
  --T_buttonWidthMobile: calc(var(--T_buttonWidth) / 1.25);
  --T_buttonHeightMobile: calc(var(--T_buttonHeight) / 1.25);

  /* Header Background */
  --header-bg: url('../assets/images/Header_Background_Light.webp');

  /* 
  **
  **
  ** GRADIENTS */

  /* --- HEADLINE --- */
  /* Light Mode */
  --headlineGradient-light: linear-gradient(
    90deg in oklch,
    var(--black),
    var(--black),
    var(--primary),
    var(--primary)
  );
  /* Dark Mode */
  --headlineGradient-dark: linear-gradient(
    90deg in oklch,
    var(--secondary),
    var(--secondary),
    var(--primary),
    var(--primary)
  );
  /* Default */
  --activeGradient: var(--headlineGradient-light);

  /* --- EMPTY PANEL --- */
  /* Light Mode */
  --emptyGradient-light: repeating-linear-gradient(
    -45deg,
    #e3e3e3,
    #e3e3e3 10px,
    #d8d8d8 10px,
    #d8d8d8 20px
  );
  /* Dark Mode */
  --emptyGradient-dark: repeating-linear-gradient(
    -45deg,
    #2c2c2c,
    #2c2c2c 10px,
    var(--background-dark) 10px,
    var(--background-dark) 20px
  );
  /* Default */
  --emptyGradient: var(--emptyGradient-light);
}

/* Global color changes */
[data-theme='dark'] {
  --borderStepColor: var(--black);
  --outlineColor: var(--secondary);
  --textColorDark: var(--black);
  --textColorLight: var(--white);
  --activeGradient: var(--headlineGradient-dark);
  --emptyGradient: var(--emptyGradient-dark);
  --header-bg: url('../assets/images/Header_Background_Dark.webp');

  --textShadowGlobalPanel: var(--textShadow);
  --pageBackground: var(--black);
  --panel-bg: var(--background-dark);
  --cardBackground: var(--background-dark);
  --roomInfo-bg: var(--black);

  --logo-bg: rgba(0, 0, 0, 0.5);
  --svgStroke: var(--black);
}

/* 4K text shadow */
@media (min-width: 3800px) {
  :root {
    --textShadow: -2px -2px 0 var(--black), 2px -2px 0 var(--black),
      -2px 2px 0 var(--black), 2px 2px 0 var(--black);
  }
}
