@use './global_styling/breakpoints' as bp;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

h1,
h2,
h3,
p,
.rooms_list__item {
  font-family: Roboto, sans-serif;
}

body {
  background-color: var(--background-dark);
}

.wrapper {
  width: calc(100% - 12px);
  margin-inline: auto;
  background-color: var(--black);

  @media (min-width: bp.$tablet) {
    width: calc(100% - 32px);
    max-width: 1680px;
    padding: 0 1rem 3.75rem;
  }
}
