@use './global_styling/variables.scss' as var;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

h1,
h2,
h3,
p,
.roomlist_item {
  font-family: Roboto, sans-serif;
}

body {
  background-color: var.$background-dark;
}

.wrapper {
  width: calc(100% - 20px);
  margin: 0 auto;
  background-color: var.$black;

  @media (min-width: var.$bp-desktop) {
    width: calc(100% - 32px);
    max-width: 1680px;
    padding: 0 1rem 3.75rem;
  }
}

.maingrid_rooms {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  box-shadow: 4px 4px 14px 0px #00000014;

  @media (min-width: var.$bp-desktop) {
    grid-template-columns: 90px repeat(auto-fit, minmax(0, 1fr));
    border: none;
    box-shadow: none;
  }
}

.maingrid {
  margin-top: 3rem;
  padding-bottom: 1rem;

  @media (min-width: var.$bp-desktop) {
    margin-top: 1rem;
    padding-bottom: 0rem;
  }
}

.griditem {
  padding: 0.75rem;
}

.list {
  padding-left: 0;

  @media (max-width: var.$bp-desktop) {
    display: none;
  }
}

.roomlist_item {
  text-align: center;
  font-weight: 700;
  background-color: var.$primary;
  color: var.$white;
}
